<a href="https://colab.research.google.com/github/ricardoricrob76/unipe-cd/blob/main/UNIPE_1_Explora%C3%A7%C3%A3o_de_Dados_Manipula%C3%A7%C3%A3o_Pandas%2C_Numpy%2C_scipy%2C_matplotlib_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Primeira aula de Ciência de Dados*** - Autor: Ricardo Roberto de Lima - Data: 25/11

In [1]:
# Exploração de Dados - Manipulação com Pandas, Numpy, Scipy, MatplotLib
# Autor: Ricardo Roberto de Lima
# Data: 25/11/2021

In [2]:
# Import das bibliotecas de ciência de dados que serão necessárias para execução dos trabalhos.

import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Criando um objeto do tipo DF (Data frame) para armazenar o conteúdo dos dados existentes no arquivo de salarios.
df = pd.read_csv("Salaries.csv")

In [6]:
# Exibir as primeiras linhas do meu data frame com o comando head().
df.head(10)

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800